body {
width: 650px;
background-color: white;
margin: 20px auto;
padding-left: 100px;
padding-right: 100px;
padding-top: 20px;
padding-bottom: 20px;
height: 865px;
text-align: center;
border-radius: 20px;
}

html{
background-color: black
}

button
{
font-variant: small-caps;
border-radius: 25px;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
border: 4px solid black;
font-size: 24px;
background-color: cadetblue;
color: aliceblue;
}

h1 {
font-size: 48px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.style {
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
font-size: 20px;
}

#caps {
font-variant: small-caps;
font-size: 30px;
}

#p
{
font-family: 'Courier New', Courier, monospace;
font-weight: bolder;
font-size: 24px;
}
